{% load static %}
<!DOCTYPE html>
<html>
    <style>
        #busqueda{
            display: flex;
            align-items: center;
        }
        #busqueda button{
            background-color: #FF7F11;
            height: 50px;
        }
        #busqueda img{
           
            height: 40px;
        }
    </style>
    <body>
        
        <nav>
            <div class="Buscador">
                <div class="logo">
                    <a href="{% url 'InicioSesionIniciada' %}">
                        <img class="icono" src="{% static 'TiendaBien/imagenes/icon.png' %}">
                    </a>
                    <a href="{% url 'InicioSesionIniciada' %}">
                        <label>FOXSHOP</label>
                    </a>
                </div>
                <div class="search">
                    <form id="busqueda" method="GET" action="{% url 'busqueda' %}">
                        <div class="buscar">
                            <input id="input1" type="text" name="q" placeholder="Buscar en foxshop.com">
                        </div>
                        <button type="submit">
                            <img class="lupa" src="{% static 'TiendaBien/imagenes/lupa.jpg' %}">
                        </button>
                    </form>
                </div>

                <input type="checkbox" class="hidden-checkbox">
                <div class="usuario">
                    <img class="user" src="{% static 'TiendaBien/imagenes/user.png' %}">
                    <label class="bienvenidoTexto">Usuario</label>
                    <label id="nombreUsuario" class="nombreUsuario" for="menuCheckbox">Name</label>
                    <input type="checkbox" id="menuCheckbox" class="hidden-checkbox">
                    <div class="desplegable">
                        <div class="menuOpciones">
                            <a href="{% url 'configU' %}">Configuracion</a>
                            <a href="{% url 'InicioSesion' %}">Cerrar Sesion</a>
                        </div>
                    </div>
                </div>
                <div class="compra">
                    <a href="{% url 'carrito' %}">
                        <img src="{% static 'TiendaBien/imagenes/carrito.png' %}">
                        <div class="texto">
                            <label>Carrito</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'historialCompra' %}">
                        <label>Historial de compra</label>
                    </a>
                </div>
            </div>
            <div class="Barra">
                <div class="tipos">
                    <div>
                        <a href="{% url 'productos_por_categoria' 'Audifonos' %}">
                            <label>Audifonos</label>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'productos_por_categoria' 'Laptops' %}">
                            <label class="lomas">Laptops</label>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'productos_por_categoria' 'Celulares' %}">
                            <label>Celulares</label>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'productos_por_categoria' 'Componentes de PC' %}">
                            <label>Componentes de PC</label>
                        </a>
                    </div>
                    
                </div>
            </div>
        </nav>
    </body>
</html>
