*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
}
body{
    background-color: rgb(35, 34, 52);
}

h1{
    font-size: 31px;
    margin-bottom: 20px;
}
#h-cont{
    width: 90%;
}
#h-vacio{
    background-color: #312F48;
    height: 100%;
}
#h-img{
    height: 300px;
    
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

#h-txt1{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

#h-txt2{
    font-size: 24px;
    text-align: center;

}

#h-vacio{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
   
}




/*============   CARRITO    ======================*/

.Principal{
    padding-top: 4vh;
    padding-bottom: 7vh;
    padding-left: 7vh;
    padding-right: 7vh;
    color: #fff;
}

.tucarrito{
    display: flex;
    padding-left: 3vh;
}

.txtos{
    display: flex;
    margin-top: 4vh;
    border-bottom: 4px solid #312F48;
    padding-bottom: 2vh;
}

.txtos .first{
    font-weight: 1;
    margin-left: 3vh;
    margin-right: 39%;
}

.txtos .second{
    margin-right: 10vh;
    font-weight: 1;
}




@media only screen and (max-width: 768px) {
     /*ESTILOS BARRA BUSQUEDA ==============================*/

    .txtos .first{
        font-weight: 1;
        margin-left: 3vh;
        margin-right: 12%;
    }

    .Buscador {
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
    }

    .categorias {
        width: 30%;
        justify-content: center;
        text-align: center;
    }

    .categorias img{
        max-width: 10px;
        height: auto;
    }

    .buscar input {
        width: 100%;
        height: 4.2vh;
    }

    .search {
        font-size: 14px;
    }

    .buscar input {
        width: 94%;
    }
    #input1{
        width: 200px;
    }
    #input1::placeholder{
        padding-left: 0.5vh;
        font-size: small;
        font-weight: bold;
    }

    .lupa {
        max-width: 30px;
        height: auto;
    }

    /*ESTILOS USARIO E INGRESAR =============================*/

    .usuario {
        margin-top: 20px;
        justify-content: center;
        text-align: center;
    }

    .ingresar {
        margin-top: 10px;
        width: 100%;
    }

    /*Carrito de compras ===================================*/

    .compra img{
        padding-left: 6px;
    }

    /*BARRA DE CATEGORIAS ===================================*/

    .tipos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila si no caben en el ancho del cuerpo */
        max-width: 100%;
        text-align: center;
    }

    .tipos >div>label, a{
        padding :0px;
    }

    .tipos img {
        display: none;
    }
    .logo {
        order: 1;
      }

      .search {
        order: 4;
      }

      .usuario {
        order: 2;
      }

      .compra {
        order: 3;
      }
      .Buscador {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        max-width: 100%; 
        margin-bottom: 20px;
      }

      .logo, .search, .usuario, .compra {
        flex: 0 1 auto; 
        margin: 10px;
    }

}


/* menu superior y nav*/

/*ESTILOS LOGO Y TITULO ===================================*/

.logo{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.logo label{
    font-weight: bold;
}

.logo img{
    max-width: 8vh;
    height: auto;
}

/* ESTILOS DEL BUSCADOR BARRA SUPERIOR ====================*/

.Buscador{
    background-color: #312F48;
    display: flex;
    align-items: center;
}

.Buscador{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 3vh;
}

.Buscador label{
    color: white;
}

/*ESTILOS DE LA BARRA DE BUSQUEDA ======================*/

.search{
    display: flex;
    align-items: center;
}

.buscar{
    height: auto;
}

/*ESTILO BOTON CATEGORIAS ================================*/

.categorias label{
    color: rgb(75, 74, 74);
}

.categorias{
    display: flex;
    align-items: center;
    width: auto;
    height: 4.7vh;
    background-color: #D9D9D9;
    border: 2px;
}

.categorias img{
    padding: 0.5vh;
}

/*ESTILOS INPUT Y LUPA ===================================*/
.buscar input{
    width: 45vh;
    height: 4.5vh;
}

#input1::placeholder{
    padding-left: 1vh;
    font-size: medium;
    font-weight: bold;
}

.icono{
    max-width: 10vh;
    height: auto;
}

.lupa{
    max-width: 5vh;
    height: auto;
    cursor: pointer;
}

.flecha{
    max-width: 10px;
    height: auto;
}

/*ESTILOS USUARIO E INGRESAR ============================*/

.usuario{
    display: flex;
    align-items: center;
}

.ingresar{
    display: flex;
    align-items: center;
    height: 2.5vh;
    width: auto;
    border: 2px solid;
    border-color: #2A2D8C;
    padding: 2px;
    margin-left: 1vh;
    box-shadow: 5px 5px 10px #2A2D8C, -5px -5px 10px #2A2D8C;
}

.user{
    max-width: 5vh;
    height: auto;
}

/* Estilos del menú desplegable */
.hidden-checkbox {
    display: none;
}

.usuario {
    position: relative;
    display: flex;
    align-items: center;
}

.bienvenidoTexto {
    color: white;
    margin-right: 5px; /* Ajusta el margen según tu preferencia */
}

.nombreUsuario {
    color: white;
    margin-right: 10px; /* Ajusta el margen según tu preferencia */
}

.desplegable {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #312F48;
    padding: 10px;
    z-index: 1;
    display: none;
}

.usuario:hover .desplegable {
    display: block;
}

.desplegable a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.desplegable a:hover {
    text-decoration: underline;
}

/*ESTILOS COMPRA CARRITO ================================*/

.compra{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.compra img{
    max-width: 5vh;
    height: auto;
}

/*ESTILOS BARRA INFERIOR DEL BUSCADOR =================*/

.tipos{
    background-color: #8416C5;
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.tipos label{
    color: white;
    padding-right: 4.5vh;
}

.tipos .lomas{
    padding-right: 1vh;
}

.tipos img{
    max-width: 1.3vh;
    height: auto;
    padding-right: 2vh;
}

/* fin carrito*/

.h-div-producto{
    background-color:#312F48;
    border-radius: 25px;
    margin-top: 10px;
}
.h-div-producto img{
    width: 100px;
}
.h-fecha{
    padding: 20px;
    border-bottom: 1px solid #fff;
}
.h-fecha p{
 font-size: 20px;
}
.h-compra-productos{
    padding: 20px;
}
.h-total{
    padding: 20px;
    border-top:1px solid #fff ;
}
.h-total p{
    text-align: right   ;
    font-size: 25px;
}
table {
    border-collapse: separate;
    border-spacing: 0 5px; /* 5px de espacio vertical, sin espacio horizontal */
    width: 100%;
}

th, td {
   text-align: center;
    padding: 8px;
    
}