{% load static%}
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxShop</title>
    <link rel="stylesheet" href="{% static 'TiendaBien/busqueda-style.css' %}">
    <script src="{% static 'TiendaBien/sentencias.js' %}"></script>
</head>

<body>
    {% include "navbar.html" %}

    <main>
        <div class="contenedor-cat">
            <div class="categoria">
                <p class="fuente1">CATEGORIA</p>
                <div class="cat1">
                    <p class="fuente2">Tipos</p>
                    <ul>
                        <li><a href="">Inalámbricos</a></li>
                        <li><a href="">Gamer</a></li>
                        <li><a href="">Alámbricos</a></li>
                    </ul>
                    <p class="fuente2">Marca</p>
                    <ul>
                        <li><a href="">Sony</a></li>
                        <li><a href="">Apple</a></li>
                        <li><a href="">SkullCandy</a></li>
                    </ul>
                    <p class="fuente2">Rating</p>
                    <ul>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'TiendaBien/img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="fuente1">FILTROS</p>
                <div class="cat2">
                    <p>Precio (MX)</p>
                    <div class="precio">
                        <input type="text" placeholder="Min." class="back-style">
                        <input type="text" placeholder="Max." class="back-style">
                    </div>
                    <p class="fuente2">Características</p>
                    <div>
                        <input type="checkbox" name="canc-ruido" id="canc-ruido">
                        <label for="canc-ruido">Cancelación de ruido</label>
                    </div>
                    <div>
                        <input type="checkbox" name="c-micro" id="c-micro">
                        <label for="c-micro">Con Micrófono</label>
                    </div>
                    <div>
                        <input type="checkbox" name="c-volumen" id="c-volumen">
                        <label for="c-volumen">Control de volumen</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="contenido">
            <div class="cont-result-nav">
                <div class="resultados">
                    <p>{{ resultados|length }} resultados para "{{ query }}"</p>
                    
                </div>
                
            </div>
            <div class="productos">
                {% for producto in resultados %}
                    <div class="content-aud">
                        <div class="audifono">
                            <!-- Aquí utiliza las propiedades del producto en lugar de los valores estáticos -->
                           
                                <div> 
                                    {% if producto.descuento != 0 %}
                                    <p id="desc">{{ producto.descuento }} Desc.</p>
                                    {% endif %}
                                </div> 
                           
                            <div class="imgAud">
                                <img src="{{ producto.urlimagen }}" alt="" height="200px">
                            </div>
                            <div><b>{{ producto.nombre }}</b></div>
                            <div>
                                <p id="t-sub">MX ${{ producto.precio }}</p>
                            </div>
                            <div>
                                <p>MX ${{ producto.precioDescuento }}</p>
                            </div>
                            <div class="p-rating">
                                <b>{{ producto.estrellas }}</b>
                                <div>
                                    Estrellas
                                </div>
                                <!-- <p>({{ producto.reviews }})</p> -->
                            </div>
                            <div class="btn-p">
                                <div>
                                    <!-- Asegúrate de usar las URL correctas para ver el producto y agregarlo al carrito -->
                                    <form action="{% url 'verProducto' %}" method="post" class="formulario">
                                        {% csrf_token %}
                                        <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                        <button type="submit">
                                            <img src="{% static 'TiendaBien/img/ver.png' %}" alt="" height="20px"> Ver producto
                                        </button>
                                    </form>
                                </div>
                                <div>
                                    <button type="submit" id="{{ producto.id }}">
                                        <img src="{% static 'TiendaBien/img/add.png' %}" alt="" height="20px" id="{{ producto.id }}">
                                    </button>
                                </div>
                            </div>
                            <div class="btn-buy">
                                <a href="{% url 'carrito' %}">
                                    <button id="compra{{ producto.id }}"><img src="{% static 'TiendaBien/img/buy.png' %}" alt=""
                                            height="35px">Comprar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                
            </div>
        </div>

    </main>
    <script src="{% static 'TiendaBien/busqueda.js' %}"></script>
</body>
</html>