{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaInicio</title>
    <link rel="stylesheet" href="{% static 'TiendaBien/configU.css' %}">
    <script src="{% static 'TiendaBien/sentencias.js' %}"></script>
</head>
<body>
    <div class="FondoPr">
        {% include "navbar.html" %}

        <div class="Principal">

            <div class="recuadromorado">
                <div class="title">
                    <h1>Configuración del usuario</h1>
                </div>

                <div class="contentinputs">
                    <div>
                        <h3>Nombre</h3>
                        <input id="nombre" type="text" class="input-personalizado">
                    </div>
                    <div>
                        <h3>Apellidos</h3>
                        <input id="apellido" type="text" class="input-personalizado">
                    </div>
                    <div>
                        <h3>Correo electrónico</h3>
                        <input id="correo" type="text" class="input-personalizado">
                    </div>
                    <div>
                        <h3>Num.Teléfono</h3>
                        <input id="telefono" type="text" class="input-personalizado">
                    </div>
                    <div>
                        <h3>Contraseña actual</h3>
                        <input id="contraseña" type="text" class="input-personalizado">
                    </div>
                    <div>
                        <h3>Contraseña nueva</h3>
                        <input id="NuevaContra" type="text" class="input-personalizado">
                    </div>
                </div>
                
                <h3 class="title2">Dirección de envío</h3>
                
                <div class="txtarea">
                    <textarea id="direccion" class="textareamod" placeholder=""></textarea>
                </div>

                <div class="botones">
                    <a href="{% url 'InicioSesionIniciada' %}"><button class="boton-personalizado">Regresar</button></a>
                    <button id="botonActualizar" class="boton-personalizado2">Actualizar</button>
                </div>  
                
            </div>

        </div>

    </div>
</body>
</html>