{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'RegistroStyle.css' %}">
    <script src="{% static 'sentencias.js' %}"></script>
</head>
<body>
    <div class="FondoPr">
        <div class="Buscador">
            <div class="logo">  
                <a href="{% url 'Inicio' %}">
                    <img class="icono" src="{% static 'imagenes/icon.png' %}">
                    <label>FOXSHOP</label>
                </a>
            </div>
        </div>
        <div class="Principal">
            <div class="InicioSesion">
                <img src="{% static 'imagenes/userInicio.png' %}">
                <label>REGISTRO</label>
            </div>
            <div class="inputs">
                
                <input class="innombre" type="text" id="nombre" name="nombre" placeholder="Nombres" required> <br> <br>
                
                <input class="inapellido" type="text" id="apellido" name="apellido" placeholder="Apellidos" required> <br> <br>

                <input class="incorreo" type="text" id="correo" name="correo" placeholder="Correo Electronico" required> <br> <br>

                <input class="intelefono" type="text" id="telefono" name="telefono" placeholder="Num. Telefonico" required> <br> <br>

                <input class="indireccion" type="text" id="direccion" name="direccion" placeholder="Direccion De Envio" required> <br> <br>

                <input class="incontra" type="text" id="contra" name="contra" placeholder="Contraseña" required> <br> <br>

                <input class="inconfirm" type="text" id="confirmar" name="confirmar" placeholder="Confirmar Contraseña" required> <br> <br>

                <div class="label2">
                    <input type="checkbox" id="recuerdame" name="recuerdame">
                    <label for="recuerdame">Aceptar Terminos y Condiciones</label>
                </div>
                <div class="boton">
                    <a href="{% url 'InicioSesion' %}">
                        <input class="cancel" type="submit" value="Cancelar">
                    </a>
                    <input class="registro" type="submit" value="Registrarse">
                </div>
                <div class="label3">
                    <label>Ya tienes cuenta?</label> 
                    <div class="click">
                        <a href="{% url 'InicioSesion' %}">
                            <label>Click aqui</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Asociar la función `registrarUsuario` al clic del botón de registro
            const botonRegistro = document.querySelector('.registro');
            botonRegistro.addEventListener('click', registrarUsuario);
        });
    </script>
</body>
</html>
