{% load static %}

<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxShop</title>
    <link rel="stylesheet" href="{% static 'TiendaBien/ver-producto-style.css' %}">
</head>
<body>
    <script src="{% static 'TiendaBien/sentencias.js' %}"></script>
    <nav>
        <div class="Buscador">
            <div class="logo">
                <a href="{% url 'InicioSesionIniciada' %}">
                    <img class="icono" src="{% static 'TiendaBien/imagenes/icon.png' %}">
                </a>
                <a href="{% url 'InicioSesionIniciada' %}">
                    <label>FOXSHOP</label>
                </a>  
            </div>
            <div class="search">
                <div class="categorias">
                    <label>Categorias</label>
                    <img class="flecha" src="{% static 'TiendaBien/imagenes/flecha.png' %}">
                </div>
                <div class="buscar">
                    <input id="input1" type="text" placeholder="Buscar en foxshop.com">
                </div>
                <a href="{% url 'busqueda' %}">
                    <img class="lupa" src="{% static 'TiendaBien/imagenes/lupa.jpg' %}">
                </a>
            </div>
            <input type="checkbox" class="hidden-checkbox">
            <div class="usuario">
                <img class="user" src="{% static 'TiendaBien/imagenes/user.png' %}">
                <label class="bienvenidoTexto">Bienvenido,</label>
                <label id="nombreUsuario" class="nombreUsuario" for="menuCheckbox"></label>
                <input type="checkbox" id="menuCheckbox" class="hidden-checkbox">
                <div class="desplegable">
                    <div class="menuOpciones">
                        <a href="{% url 'configU' %}">Configuracion</a>
                        <a href="{% url 'InicioSesion' %}">Cerrar Sesion</a>
                    </div>
                </div>
            </div>            
            <div class="compra">
                <a href="{% url 'carrito' %}">
                    <img src="{% static 'TiendaBien/imagenes/carrito.png' %}">
                    <div class="texto">
                        <label>Carrito</label>
                </a>
                </div>
            </div>
        </div>
        <div class="Barra">
            <div class="tipos">
                <div>
                    <a href="{% url 'InicioSesionIniciada' %}">
                        <label>Inicio</label>
                    </a>
                </div>
                <div>
                    <label class="lomas">Lo mas vendido</label>
                    <img class="star" src="{% static 'TiendaBien/imagenes/estrella.png' %}">
                </div>
                <div>
                    <label>Promociones</label>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="contenido-pag">
            
            <div>
                <div  class="btn-return">
                    <img src="{% static 'TiendaBien/img/return.png' %}" alt="" width="15px">
                    <a href="{% url 'busqueda' %}">Regresar</a>
                    
                </div>
            </div>
            <div class="content-product">
                <div class="producto">
                    <div class="img-p">
                    <img src="{% static 'TiendaBien/img/audifonos/audSkull.png' %}" alt="" id="img1">
                    </div>
                    <div class="info-p">
                        
                            <div class="titulo"><h1>SKULLCANDY Audífonos Alámbricos Ink d+ Negro IN Ear</h1></div>
                            <div class="div-desc"><p id="t-sub">MX $499.00</p> <p id="desc">50% Desc.</p></div>
                            <div><p>MX $249.50</p></div>
                            <div class="p-rating">
                                <b>4</b>
                                <div>
                                    <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" height="15px">
                                    <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" height="15px">
                                </div>
                                <p>(6,950)</p>
                            </div>
                            <div class="div-color">
                                <p>Color:</p>
                                <div class="colores">
                                    <button id="btn-negro"></button>
                                    <button id="blanco"></button>
                                    <button id="btn-gris"></button>
                                    <button id="btn-rosa"></button>
                                    <button id="btn-azul"></button>
                                </div>
                            </div>
                            <div class="cantidad">
                                <p>Cantidad</p>
                                <div id="cant">
                                    <button onclick="decrementar()">-</button>
                                    <p id="cantidad">1</p>
                                    <button onclick="incrementar()">+</button>
                                </div>
                            </div>
                            <div class="div-botones">
                                <button type="submit" id="CASCOSNEGROS"><img src="{% static 'TiendaBien/img/add.png' %}" alt="" height="20px">Añadir al carrito</button>
                            </div>
                            
                            
                    </div>
                </div>
               
            </div>
            <div class="content-description">
                <div class="titulo">
                    <p>Descripción</p>
                </div>
    
                <div class="parrafo1">
                    <p><b>Marca: </b>Skullcandy</p>
                    <p><b>Nombre del modelo: </b>Ink'd</p>
                    <p><b>Factor de la forma: </b>Derpotivos</p>
                    <p><b>Tecnología de la conectividad: </b> Inalámbrico</p>
    
                </div>
    
                <div class="parrafo2">
                    <p>
                        Cable AUX de 3.5 mm: conecta fácilmente tus dispositivos compatibles favoritos o úsalo en el avión para escuchar música, películas y podcasts cuando estés sobre la marcha.
                        El confort primero: los Ink'd+ vienen con dos pares extra de almohadillas de silicona para que encuentres la talla más cómoda y tu experiencia auditiva sea inmejorable.
                        Sonido con cancelación de ruido: ponte tus audífonos y bloquea el ruido del entorno.
                        Llamadas y control de pista: usa tus audífonos Ink'd+ para hacer llamadas o saltar canciones en tu lista de reproducción.
                    </p> 
                </div>
            </div>
            <div class="content-comments">
                <div id="title-op"><p>Opiniones</p></div>
                <div class="rating">
                    
                    <div class="div-op">
                        <p id="five">5</p>
                        <div class="user-stars">
                            <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                        </div>
                        <p>Todas las revisiones provienen de compradores verificados.</p>
                        
                    </div>
                    <div class="estrellas">
                        <div class="div-barras">
                            <p>5 Estrellas</p>
                            <p class="p-barra" id="full"> </p>
                            <p>126</p>
                        </div>
                        <div class="div-barras">
                            <p>4 Estrellas</p>
                            <p class="p-barra"> </p>
                            <p>0</p>
                        </div>
                        <div class="div-barras">
                            <p>3 Estrellas</p>
                            <p class="p-barra"> </p>
                            <p>0</p>
                        </div>
                        <div class="div-barras">
                            <p>2 Estrellas</p>
                            <p class="p-barra"> </p>
                            <p>0</p>
                        div>
                    </div>
                </div>
    
                <div class="filtros">
                    <button id="btn-purple">
                        Todo(126)
                    </button>
                    <button class="btn-gray">
                        Más recientes
                    </button>
                    <button class="btn-gray">
                        Más antigüas
                    </button>
                    <button id="btn-black-gray">
                        5 Estrellas (126)
                    </button>
                    <button class="btn-gray">
                        4 Estrellas
                    </button>
                    <button class="btn-gray">
                        3 Estrellas
                    </button>
                    <button class="btn-gray">
                        2 Estrellas
                    </button>
                    <button class="btn-gray">
                        1 Estrellas
                    </button>
                    <button class="btn-gray">
                        0 Estrellas
                    </button>
                </div>
    
                <div class="comments">
                    <div class="comment">
                        <div class="user">
                            <img src="{% static 'TiendaBien/img/user.png' %}" alt="" >
                            <p>Sophia Herrera</p>
                        </div>
                        <div class="opinion">
                            <div class="user-stars">
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            </div>
                            <p><b>INCREIBLE</b></p>
                            <p>Increíbles para la productividad. La duración de la batería es asombrosa, me olvido de cargarlos durante días. 
                                Además, el diseño plegable facilita llevarlos a cualquier lugar. ¡Mis compañeros de trabajo están deseando tener unos iguales!</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="user">
                            <img src="{% static 'TiendaBien/img/user.png' %}" alt="" >
                            <p>Mateo Rodríguez</p>
                        </div>
                        <div class="opinion">
                            <div class="user-stars">
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            </div>
                            <p><b>Me encantó</b></p>
                            <p>Estos audífonos son perfectos para los entusiastas del ejercicio. Son resistentes al sudor, se ajustan de manera segura y la calidad del sonido te motiva a superar tus límites. 
                                Definitivamente, un compañero ideal para mis sesiones de entrenamiento.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="user">
                            <img src="{% static 'TiendaBien/img/user.png' %}" alt="" >
                            <p>Valentina Sánchez</p>
                        </div>
                        <div class="opinion">
                            <div class="user-stars">
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                                <img src="{% static 'TiendaBien/img/orange-star.png' %}" alt="" >
                            </div>
                            <p><b>Comodos</b></p>
                            <p>La conectividad es impecable. Puedo moverme por toda la casa sin perder la calidad del sonido. 
                                Además, el control táctil en los auriculares facilita la gestión de llamadas y reproducción de música sin tener que sacar el teléfono. Una experiencia verdaderamente conveniente.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener el nombre de usuario del Local Storage
        const nombreUsuario = localStorage.getItem('nombreUsuario');
    
        // Asignar el nombre de usuario al label
        const labelNombreUsuario = document.getElementById('nombreUsuario');
        labelNombreUsuario.textContent = nombreUsuario;
    
        const usuariosRegistrados = JSON.parse(localStorage.getItem('usuarios')) || [];
    
        const usuarioActual =usuariosRegistrados.find(usuario => usuario.correo === localStorage.getItem('correo'));
        
        
        const producto = {
            crearProducto: function(urlImagen, nombre, precio) {
                return {
                    urlImagen: urlImagen,
                    nombre: nombre,
                    precio: precio,
                    cantidad: 1
                };
            },
        
            agregarAlCarrito: function(usuarioActual, nuevoProducto, cantidad) {
                const productoEnCarrito = usuarioActual.carrito.find(producto => producto.nombre === nuevoProducto.nombre);

                if (productoEnCarrito) {
                    // Si el producto ya está en el carrito, sumar la cantidad seleccionada
                    productoEnCarrito.cantidad += cantidad;
                } else {
                    // Si no está en el carrito, agregar el nuevo producto con la cantidad seleccionada
                    nuevoProducto.cantidad = cantidad;
                    usuarioActual.carrito.push(nuevoProducto);
                }

                // Obtener la lista de usuarios del localStorage
                const usuariosRegistrados = JSON.parse(localStorage.getItem('usuarios')) || [];

                // Encontrar y actualizar al usuario actual en la lista
                const index = usuariosRegistrados.findIndex(u => u.correo === usuarioActual.correo);
                if (index !== -1) {
                    usuariosRegistrados[index] = usuarioActual;
                }

                // Guardar la lista actualizada en el localStorage
                localStorage.setItem('usuarios', JSON.stringify(usuariosRegistrados));

                alert('Producto agregado al carrito');
            }
        };
        
        //FUNCIONALIDAD AGREGAR CARRITO
        const btnAgregarCarrito1 = document.getElementById('CASCOSNEGROS');
        btnAgregarCarrito1.addEventListener('click', function(){
            const urlImagen = "../../static/TiendaBien/img/audifonos/audSkull.png";
            const nombreProducto = "SKULLCANDY Audífonos Alámbricos Ink d+ Negro IN Ear";
            const precio = 249.50;
        
            // Obtener la cantidad seleccionada del HTML
            const cantidadSeleccionada = parseInt(document.getElementById('cantidad').textContent);

            // Crear el producto
            const skullCandy = producto.crearProducto(urlImagen, nombreProducto, precio);

            // Agregar al carrito teniendo en cuenta la cantidad seleccionada
            producto.agregarAlCarrito(usuarioActual, skullCandy, cantidadSeleccionada);
        })
    });

    // Obtener el elemento de la cantidad
    var cantidadElemento = document.getElementById("cantidad");

    // Función para decrementar la cantidad
    function decrementar() {
        var cantidad = parseInt(cantidadElemento.textContent);
        if (cantidad > 1) {
            cantidad--;
            cantidadElemento.textContent = cantidad;
        }
    }

    // Función para incrementar la cantidad
    function incrementar() {
        var cantidad = parseInt(cantidadElemento.textContent);
        cantidad++;
        cantidadElemento.textContent = cantidad;
    }

</script>
</html>