{% load static%}
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxShop</title>
    <link rel="stylesheet" href="{% static 'busqueda-style.css' %}">
    <script src="{% static 'sentencias.js' %}"></script>
</head>

<body>
    <nav>
        <div class="Buscador">
            <div class="logo">
                <a href="./InicioSesionIniciada.html">
                    <img class="icono" src="{% static 'imagenes/icon.png' %}">
                </a>
                <a href="./InicioSesionIniciada.html">
                    <label>FOXSHOP</label>
                </a>
            </div>
            <div class="search">
                <div class="categorias">
                    <label>Categorias</label>
                    <img class="flecha" src="{% static 'imagenes/flecha.png' %}">
                </div>
                <div class="buscar">
                    <input id="input1" type="text" placeholder="Buscar en foxshop.com">
                </div>
                <a href="busqueda.html">
                    <img class="lupa" src="{% static 'imagenes/lupa.jpg' %}">
                </a>
            </div>
            <input type="checkbox" class="hidden-checkbox">
            <div class="usuario">
                <img class="user" src="{% static 'imagenes/user.png' %}">
                <label class="bienvenidoTexto">Bienvenido,</label>
                <label id="nombreUsuario" class="nombreUsuario" for="menuCheckbox">Name</label>
                <input type="checkbox" id="menuCheckbox" class="hidden-checkbox">
                <div class="desplegable">
                    <div class="menuOpciones">
                        <a href="{% static 'configU.html' %}">Configuracion</a>
                        <a href="./InicioSesion.html">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
            <div class="compra">
                <a href="{% static 'carrito.html' %}">
                    <img src="{% static 'imagenes/carrito.png' %}">
                    <div class="texto">
                        <label>Carrito</label>
                </a>
            </div>
        </div>
        </div>
        <div class="Barra">
            <div class="tipos">
                <div>
                    <a href="./InicioSesionIniciada.html">
                        <label>Inicio</label>
                    </a>
                </div>
                <div>
                    <label class="lomas">Lo mas vendido</label>
                    <img class="star" src="{% static 'imagenes/estrella.png' %}">
                </div>
                <div>
                    <label>Promociones</label>
                </div>
                <div>
                    <label>Lo nuevo</label>
                </div>
                <div>
                    <label>Musica</label>
                </div>
                <div>
                    <label>Electronicos</label>
                </div>
                <div>
                    <a href="./historialCompra.html">
                        <label>Historial de compra</label>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <main>
        <div class="contenedor-cat">
            <div class="categoria">
                <p class="fuente1">CATEGORIA</p>
                <div class="cat1">
                    <p class="fuente2">Tipos</p>
                    <ul>
                        <li><a href="">Inalámbricos</a></li>
                        <li><a href="">Gamer</a></li>
                        <li><a href="">Alámbricos</a></li>
                    </ul>
                    <p class="fuente2">Marca</p>
                    <ul>
                        <li><a href="">Sony</a></li>
                        <li> <a href="">Apple</a></li>
                        <li> <a href="">SkullCandy</a></li>
                    </ul>
                    <p class="fuente2">Rating</p>
                    <ul>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div>
                                    <img src="{%static 'img/orange-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                    <img src="{% static 'img/gray-star.png'%}" alt="" height="15px">
                                </div>
                            </a>
                        </li>
                    </ul>


                </div>
                <p class="fuente1">FILTROS</p>
                <div class="cat2">
                    <p>Precio (MX)</p>
                    <div class="precio">
                        <input type="text" placeholder="Min." class="back-style">

                        <input type="text" placeholder="Max." class="back-style">
                    </div>
                    <p class="fuente2">Características</p>
                    <div>
                        <input type="checkbox" name="canc-ruido" id="canc-ruido">
                        <label for="canc-ruido">Cancelación de ruido</label>
                    </div>
                    <div>
                        <input type="checkbox" name="c-micro" id="c-micro">
                        <label for="c-micro">Con Micrófono</label>
                    </div>
                    <div>
                        <input type="checkbox" name="c-volumen" id="c-volumen">
                        <label for="c-volumen">Control de volumen</label>
                    </div>

                </div>

            </div>

        </div>

        <div class="contenido">
            <div class="cont-result-nav">
                <div class="resultados">
                    <p>1,780 resultados para "Audífonos"</p>
                    <div>
                        <label for="Ordenar">Ordenar por</label>
                        <select name="Ordenar" id="filtro">
                            <option value="Mas-relevantes">Más relevantes</option>
                            <option value="Menor-precio">Menor precio</option>
                            <option value="Mas-pedidos">Más pedidos</option>
                        </select>
                    </div>
                </div>

                <div class="navegacion">
                    <div class="n-pag">
                        <input type="button" value="< Anterior" class="back-style">
                        <input type="button" value="1" id="uno">
                        <input type="button" value="2" class="back-style">
                        <input type="button" value="3" class="back-style">
                        <input type="button" value="4" class="back-style">
                        <input type="button" value="5" class="back-style">
                        <input type="button" value="..." class="back-style">
                        <input type="button" value="140" class="back-style">
                        <input type="button" value="Siguiente >" class="back-style">
                    </div>
                    <div class="ir-pag">
                        <p>Ir a página</p>
                        <input type="text" placeholder="#" class="back-style">
                        <button class="back-style">Ir</button>

                    </div>

                </div>

            </div>

            <div class="productos">
                <div class="content-aud">
                    <div class="audifono">
                        <div>
                            <p id="desc">10% Desc.</p>
                        </div>
                        <div class="imgAud"><img src="{% static 'img/audifonos/audSony.png' %}" alt="" height="200px">
                        </div>
                        <div><b>Audífonos Inalámbricos Wh-ch720n Color Negro</b></div>
                        <div>
                            <p id="t-sub">MX $2,548.00</p>
                        </div>
                        <div>
                            <p>MX $2,293.00</p>
                        </div>
                        <div class="p-rating">
                            <b>5</b>
                            <div>
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                            </div>
                            <p>(500)</p>
                        </div>
                        <div class="btn-p">
                            <div>
                                <form action="{% static 'ver-productoCASCOSNEGROS.html' %}" class="formulario">
                                    <button type="submit">
                                        <img src="{% static 'img/ver.png' %}" alt="" height="20px"> Ver producto
                                    </button>
                                </form>
                            </div>
                            <div>
                                <button type="submit" id="CASCOSNEGROS">
                                    <img src="{% static 'img/add.png' %}" alt="" height="20px" id="CASCOSNEGROS">
                                </button>
                            </div>
                        </div>
                        <div class="btn-buy">
                            <a href="{% static './carrito.html' %}">
                                <button id="compraCASCOSNEGROS"><img src="{% static 'img/buy.png' %}" alt=""
                                        height="35px">Comprar</button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="content-aud">
                    <div class="audifono">
                        <div>
                            <p id="desc">57% Desc.</p>
                        </div>
                        <div class="imgAud"><img src="{% static 'img/audifonos/audXiaomi.png' %}" alt="" height="200px">
                        </div>
                        <div><b>Xiaomi 36103 Audífonos Inalámbricos Redmi Buds 3 Lite</b></div>
                        <div>
                            <p id="t-sub">MX $599.00</p>
                        </div>
                        <div>
                            <p>MX $260.00</p>
                        </div>
                        <div class="p-rating">
                            <b>4</b>
                            <div>
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/gray-star.png' %}" alt="" height="15px">
                            </div>
                            <p>(14,907)</p>
                        </div>
                        <div class="btn-p">
                            <div>
                                <form action="{% static 'ver-productoREDMI.html' %}" class="formulario">
                                    <button type="submit">
                                        <img src="{% static 'img/ver.png' %}" alt="" height="20px"> Ver producto
                                    </button>
                                </form>
                            </div>
                            <div>
                                <button type="submit" id="REDMI">
                                    <img src="{% static 'img/add.png' %}" alt="" height="20px" id="REDMI">
                                </button>
                            </div>
                        </div>
                        <div class="btn-buy">
                            <a href="{% static './carrito.html' %}">
                                <button id="compraREDMI"><img src="{% static 'img/buy.png' %}" alt=""
                                        height="35px">Comprar</button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="content-aud">
                    <div class="audifono">
                        <div>
                            <p id="desc">50% Desc.</p>
                        </div>
                        <div class="imgAud"><img src="{% static 'img/audifonos/audSkull.png' %}" alt="" height="200px">
                        </div>
                        <div><b>SKULLCANDY Audífonos Alámbricos Ink d+ Negro IN Ear</b></div>
                        <div>
                            <p id="t-sub">MX $499.00</p>
                        </div>
                        <div>
                            <p>MX $249.50</p>
                        </div>
                        <div class="p-rating">
                            <b>4</b>
                            <div>
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/orange-star.png' %}" alt="" height="15px">
                                <img src="{% static 'img/gray-star.png' %}" alt="" height="15px">
                            </div>
                            <p>(6,950)</p>
                        </div>
                        <div class="btn-p">
                            <div>
                                <form action="{% static 'ver-productoSKULLCANDY.html' %}" class="formulario">
                                    <button type="submit">
                                        <img src="{% static 'img/ver.png' %}" alt="" height="20px"> Ver producto
                                    </button>
                                </form>
                            </div>
                            <div>
                                <button type="submit" id="SKULLCANDY">
                                    <img src="{% static 'img/add.png' %}" alt="" height="20px" id="SKULLCANDY">
                                </button>
                            </div>
                        </div>
                        <div class="btn-buy">
                            <a href="{% static './carrito.html' %}">
                                <button id="compraSKULLCANDY"><img src="{% static 'img/buy.png' %}" alt=""
                                        height="35px">Comprar</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </main>
</body>

</html>