{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="{% static 'inicioSesionStyle.css' %}">
    <script src="{% static 'sentencias.js' %}"></script>
</head>
<body>
    <div class="FondoPr">
        <div class="Buscador">
            <div class="logo">  
                <a href="{% url 'Inicio' %}">
                    <img class="icono" src="{% static 'imagenes/icon.png' %}">
                    <label>FOXSHOP</label>
                </a>
            </div>
        </div>
        <div class="Principal">
            <div class="InicioSesion">
                <img src="{% static 'imagenes/userInicio.png' %}">
                <label>INICIAR SESION</label>
            </div>
            <div class="inputs">
                <label for="usuario">Ingrese su correo</label>
                <input class="inusuario" type="text" id="usuario" name="usuario" required><br><br>
                
                <label for="contrasena">Ingrese su contraseña:</label>
                <input class="incontra" type="password" id="contrasena" name="contrasena" required>
                <div class="label2">
                    <input type="checkbox" id="recuerdame" name="recuerdame">
                    <label for="recuerdame">Recuérdame</label>
                    <label class="olvide">Olvidé mi contraseña</label>
                </div>
                <div class="boton">
                    <input type="submit" value="Ingresar">
                </div>
                <div class="label3">
                    <label>¿Aún no tienes cuenta?</label> 
                    <div class="click">
                        <a href="{% url 'Registro' %}">
                            <label>Click aquí</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const botonIngresar = document.querySelector('.boton input[type="submit"]');
            botonIngresar.addEventListener('click', iniciarSesion);
        });
    </script>
</body>
</html>
